<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['']">Home <span class="sr-only"></span></a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['cv']">CVs <span class="sr-only"></span></a>
        </li>
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['produit']">Products <span class="sr-only"></span></a>
          </li>
        <li class="nav-item active" *ngIf="!isLoggedIn()">
            <a class="nav-link" [routerLink]="['login']">login<span class="sr-only"></span></a>
          </li>
         <li class="nav-item active" *ngIf="isLoggedIn()">
          <button (click)="logout()" type="button" class="btn btn-primary" [routerLink]="['']">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
